<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="/awards">Awards</a></li>
    <li><a href="/bots">Bots</a></li>
    <li><a href="/bot_types">Bot Types</a></li>
    <li><a href="/heats">Heats</a></li>
    <li><a href="/laps">Laps</a></li>
    <li><a href="/teams">Teams</a></li>
    <li><a href="/team_members">Team Members</a></li>
    <li><a href="/views">Views</a></li>
  </ul>
</div>
